<div class="main-content">
    <div class="container-fluid">
        <div class="row card-row">
            <div class="col-md-12">
                <div class="maps-row">
                    <div class="embedmap-canvas">
                        <iframe class="i-frame" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88560.91502050337!2d11.050315957087706!3d46.08044006064811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478276cac9ce9ddb%3A0x27c6a299139ff547!2sTrento%2C%20Autonomous%20Province%20of%20Trento!5e0!3m2!1sen!2sit!4v1685863892873!5m2!1sen!2sit">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>