<mat-grid-list class="mat-grid-list" cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>
                    <div class="card_header_logo">
                        <i class="material-icons">content_copy</i>
                    </div>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Used Space</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="">Get More Space...</a>
                </div>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>
                    <div class="card_header_logo">
                        <i class="material-icons">content_copy</i>
                    </div>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Used</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="">Get More Space...</a>
                </div>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>
                    <div class="card_header_logo">
                        <i class="material-icons">content_copy</i>
                    </div>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Used</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="">Get More Space...</a>
                </div>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>
                    <div class="card_header_logo">
                        <i class="material-icons">content_copy</i>
                    </div>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Used</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="">Get More Space...</a>
                </div>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

