.dashboard-rows{
    margin-top: 4%;
    margin-bottom: 1%;
}
/* Dashboard first row*/
.card-icons{
    border-radius: 3px;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    width: 33%;
    text-align: center;
}
.card-icons i{
    font-size: 35px;
}
.card-icons svg{
    font-size: 35px;
}
.used{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    background: linear-gradient(60deg,#ffa726,#fb8c00);
}

.revenue{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
    background: linear-gradient(60deg,#66bb6a,#43a047);
}

.issue{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
    background: linear-gradient(60deg,#ef5350,#e53935);
}

.follower{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    background: linear-gradient(60deg,#26c6da,#00acc1);
}
/* Dashboard second row*/
.small-card-content{
    color: #295ca1;
    line-height: 1;
    text-align: right !important;
} 
.card-title{
    color: #295ca1;
    line-height: 1;
}
.card-footer{
    color: #999;
    font-size: 12px;
    line-height: 22px;
}
.dailySales-chart{
    border-radius: 5px;
    margin-top: -10%;
    margin-bottom: 5%;
    background: linear-gradient(60deg,#66bb6a,#43a047);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
}
.subscriptions-chart{
    border-radius: 5px;
    margin-top: -10%;
    margin-bottom: 5%;
    background: linear-gradient(60deg,#ffc4c4,#ff917d);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgb(254 81 27 / 40%);
}
.completedTasks-chart{
    border-radius: 5px;
    margin-top: -10%;
    margin-bottom: 5%;
    background: linear-gradient(60deg,#6cd5ff,#d4e8ff);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(148, 159, 252, 0.4);
}
.stats i{
    vertical-align: middle;
}
/* dashboard third row*/
.td-actions{
    min-width: 120px;
    text-align: right;
}
.table>tbody>tr>td {vertical-align: middle}
.mat-icon-edit{
    background-color: transparent;
    color: #9c27b0;
}
.mat-icon-close{
    background-color: transparent;
    color: #f44336;
}
.mat-tab-group{
    margin-top: -5%;
    border-radius: 5px;
    background: linear-gradient(60deg,#ab47bc,#8e24aa);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}
.mat-tab{
    color: floralwhite;
}
.mat-tab i{
    vertical-align: middle;
}
.card-header-warning-table{
    border-radius: 5px;
    margin-top: -3%;
    background: linear-gradient(60deg,#ffa726,#fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
}
/*end of used css*/

.mat-grid-list{
    margin-top: 4%;
}
.mat-grid-tile-content {
    padding: 2px;
    margin: 5px;
}

.mat-card{
    width: 75% !important;
    margin-top: 5%;
    margin-bottom: 1%;
}

.card-content{
    color: #3c4858;
    line-height: 1;
    margin-top: -5%;
}
